In [ ]:
import pandas as pd

In [ ]:
train = pd.read_csv('train.csv',sep=',')

In [ ]:
train

        pair_id  ... is_duplicate
0             1  ...            0
1             2  ...            0
2             3  ...            0
3             4  ...            0
4             5  ...            0
...         ...  ...          ...
497814   497815  ...            0
497815   497816  ...            0
497816   497817  ...            0
497817   497818  ...            0
497818   497819  ...            0

[497819 rows x 4 columns]

In [ ]:
test = pd.read_csv('test.csv',sep=',')

In [ ]:
test

        pair_id  ...                                             name_2
0             1  ...                           Indl De Cuautitlan Sa Cv
1             2  ...         Dongguan Wei Shi Plastic Product Co., Ltd.
2             3  ...                Arab Shipbuilding And Repair Yard C
3             4  ...                 Farmacap Industria E Comercio Ltda
4             5  ...                                           Bel Inc.
...         ...  ...                                                ...
213244   213245  ...                      Jiangsu Easero Logistics Ltd.
213245   213246  ...                              Kavalani & Sons W.L.L
213246   213247  ...                                             Zarabi
213247   213248  ...                       Terabytes India Private Ltd.
213248   213249  ...  Qingyuan Xierong Plastics & Rubber Products Co...

[213249 rows x 3 columns]

In [ ]:
train['is_duplicate'].unique()

array([0, 1])

In [ ]:
%pylab inline
plt.style.use("bmh")

Populating the interactive namespace from numpy and matplotlib

/usr/local/lib/python3.6/dist-packages/IPython/core/magics/pylab.py:161: UserWarning: pylab import has clobbered these variables: ['test']
`%matplotlib` prevents importing * from pylab and numpy
  "\n`%matplotlib` prevents importing * from pylab and numpy"

In [ ]:
import pathlib
import pandas as pd

from sklearn.metrics import classification_report, f1_score
from sklearn.model_selection import StratifiedShuffleSplit
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

In [ ]:
from tqdm import tqdm
tqdm.pandas()

In [ ]:
RS = 7345

# Загрузка данных

In [ ]:
train = pd.read_csv("train.csv", index_col="pair_id")
test = pd.read_csv("test.csv", index_col="pair_id")

In [ ]:
train.head()

                                    name_1  ... is_duplicate
pair_id                                     ...
1                      Iko Industries Ltd.  ...            0
2                  Apcotex Industries Ltd.  ...            0
3        Rishichem Distributors Pvt., Ltd.  ...            0
4                  Powermax Rubber Factory  ...            0
5                                Tress A/S  ...            0

[5 rows x 3 columns]

In [ ]:
test.head()

                                         name_1                                      name_2
pair_id
1                    Sun Blinds Decoration Inc.                    Indl De Cuautitlan Sa Cv
2                                      Eih Ltd.  Dongguan Wei Shi Plastic Product Co., Ltd.
3                                 Jsh Ltd. (Hk)         Arab Shipbuilding And Repair Yard C
4                        Better Industrial Ltd.          Farmacap Industria E Comercio Ltda
5        Equipos Inoxidables Del Norte Sa De Cv                                    Bel Inc.

# Статистика таргета

In [ ]:
train.is_duplicate.value_counts()

0    494161
1      3658
Name: is_duplicate, dtype: int64

In [ ]:
train[train.is_duplicate==1].sample(15)

                                   name_1  ... is_duplicate
pair_id                                    ...
468048                             INRECO  ...            1
240795   Bridgestone Firestone Venezolana  ...            1
140871        Bridgestone Stargard Sp Zoo  ...            1
474044                  Youngnam Spinning  ...            1
325344                        T.L. Squire  ...            1
411877                     SOPREMA BLONIE  ...            1
287532            Exxonmobil Quimica Ltda  ...            1
10505         Gestion Soprema Canada Inc.  ...            1
283509                         ВЕДАГ ГМБХ  ...            1
244505               Sika Kimia Sdn. Bhd.  ...            1
69551                      KIMBERLY-CLARK  ...            1
195416      Pt Bridgestone Tire Indonesia  ...            1
146460         Michelin Americas Research  ...            1
469731                    Bridgestone Ncr  ...            1
243406    Bridgestone International Group  ...            1

[15 rows x 3 columns]

In [ ]:
train[train.is_duplicate==0].sample(15)

                                                    name_1  ... is_duplicate
pair_id                                                     ...
104154                                       Eia Co., Ltd.  ...            0
464074                                 Golden Trading Ltd.  ...            0
262173   Truck Bus Industria E Comercio De Auto Pecas Ltda  ...            0
192322                                            Sto Corp  ...            0
477878                                Deybon International  ...            0
426386                     Giffin Industries S De Rl De Cv  ...            0
185286                                 Eosso Brothers, Inc  ...            0
320214                        North American Wood Products  ...            0
103425                 Henkel Industrie Ag No 3 5 Th Floor  ...            0
128372                  Avery Dennison Materials Europe Bv  ...            0
369906                                             Co. One  ...            0
178156               Shenzhen Shengdajie Trading Co., Ltd.  ...            0
190402                             Guangzhou Topfull Chemi  ...            0
50447                            Rathi Polybond (Pty) Ltd.  ...            0
262853                                          Acomon Srl  ...            0

[15 rows x 3 columns]

# Очистка данных

In [ ]:
!pip install pycountry

Requirement already satisfied: pycountry in /usr/local/lib/python3.6/dist-packages (20.7.3)

In [ ]:
import pycountry
import re

In [ ]:
countries = [country.name.lower() for country in pycountry.countries]

In [ ]:
train["name_1"] = train["name_1"].str.lower()
train["name_2"] = train["name_2"].str.lower()

test["name_1"] = test["name_1"].str.lower()
test["name_2"] = test["name_2"].str.lower()

In [ ]:
train[train.name_1.str.contains("gmbh")]

                                        name_1  ... is_duplicate
pair_id                                         ...
40       isoliererzeugnisse grobrohrsdorf gmbh  ...            0
410       dortmunder gussasphalt gmbh & co. kg  ...            0
440             celanese chemicals europe gmbh  ...            0
583                 tremco illbruck group gmbh  ...            0
681                  rasco bitumentechnik gmbh  ...            0
...                                        ...  ...          ...
497197               binne & sohn gmbh & co kg  ...            0
497306                       mct gmbh & co. kg  ...            0
497366    mct misch & compoundier technik gmbh  ...            0
497772        saint-gobain isover austria gmbh  ...            0
497798                     famos gmbh & co. kg  ...            0

[3382 rows x 3 columns]

In [ ]:
legal_entities = ["ltd.", "co.", "inc.", "b.v.", "s.c.r.l.", "gmbh", "pvt."]

for entity in tqdm(legal_entities):
    train.replace(re.compile(f"\s+{entity}\s*"), "", inplace=True)
    test.replace(re.compile(f"\s+{entity}\s*"), "", inplace=True)

100%|██████████| 7/7 [00:14<00:00,  2.12s/it]

In [ ]:
train.head()

                          name_1  ... is_duplicate
pair_id                           ...
1                 iko industries  ...            0
2             apcotex industries  ...            0
3        rishichem distributors,  ...            0
4        powermax rubber factory  ...            0
5                      tress a/s  ...            0

[5 rows x 3 columns]

In [ ]:
test.head()

                                         name_1                               name_2
pair_id
1                         sun blinds decoration             indl de cuautitlan sa cv
2                                           eih    dongguan wei shi plastic product,
3                                       jsh(hk)  arab shipbuilding and repair yard c
4                             better industrial            farmacap industria eercio
5        equipos inoxidables del norte sa de cv                                  bel

In [ ]:
train.replace(re.compile(r"\s+\(.*\)"), "", inplace=True)
test.replace(re.compile(r"\s+\(.*\)"), "", inplace=True)

In [ ]:
for country in tqdm(countries):
    train.replace(re.compile(country), "", inplace=True)
    test.replace(re.compile(country), "", inplace=True)

100%|██████████| 249/249 [06:28<00:00,  1.56s/it]

In [ ]:
train.replace(re.compile(r"[^\w\s]"), "", inplace=True)
test.replace(re.compile(r"[^\w\s]"), "", inplace=True)

In [ ]:
train[:15]

                                      name_1  ... is_duplicate
pair_id                                       ...
1                             iko industries  ...            0
2                         apcotex industries  ...            0
3                     rishichem distributors  ...            0
4                    powermax rubber factory  ...            0
5                                   tress as  ...            0
6                              wpt  sa de cv  ...            0
7                           national bank of  ...            0
8                             citibank korea  ...            0
9         prettl electric del bajio sa de cv  ...            0
10       beijing zhongyi rongda tech trading  ...            0
11                                    riintl  ...            0
12                          angle industries  ...            0
13             bestocean worldwide logistics  ...            0
14               uni trans illinoissolidated  ...            0
15                       warehouse jonesboro  ...            0

[15 rows x 3 columns]

In [ ]:
test[:15]

                                                    name_1                               name_2
pair_id
1                                    sun blinds decoration             indl de cuautitlan sa cv
2                                                      eih     dongguan wei shi plastic product
3                                                    jshhk  arab shipbuilding and repair yard c
4                                        better industrial            farmacap industria eercio
5                   equipos inoxidables del norte sa de cv                                  bel
6                     afton chemical industria de aditivos                      gigi industries
7                           sumec international technology          advanced polymer technology
8                                        intermax imp  exp        ningbo jiahui huamao imp  exp
9                                            precision ice                                  uci
10           dongguan yifuposite plastics  rubber products                 ge plastics shanghai
11                              garments dongguan yang was                              commune
12                                      dih wei industries                  dynal industries sa
13       dow brasil industria eercio de produtos quimic...              asia industrial textile
14                                                      mb                            w b mason
15                               green forest products llc                                  ict

# Простые метрики сходства строк

Косинусово сходство

In [ ]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import paired_cosine_distances as pcd

clf = TfidfVectorizer()

clf.fit(train['name_1'] + " " + train['name_2'])

A = clf.transform(train['name_1'])
B = clf.transform(train['name_2'])

cosine = 1 - pcd(A, B)

train['tfidf_cosine'] = cosine

In [ ]:
train.sample(30)

                                                    name_1  ...  tfidf_cosine
pair_id                                                     ...
51281                                     miyasaka polymer  ... -2.220446e-16
345075                   valeo friction materials  private  ...  0.000000e+00
323160   imperalum  sociedadeercial de revestimentos e ...  ...  0.000000e+00
397761                                         atturo tire  ...  0.000000e+00
294230                              qingdao fest logistics  ...  0.000000e+00
221535                        qafelah al mahra trading est  ...  3.294840e-01
299961                           monty industries sa de cv  ...  3.366112e-01
451682                                         cdm systems  ...  2.048167e-01
306717                          jas forwarding de  sa de c  ...  3.470251e-01
8733                     banco de credito e inversiones av  ... -2.220446e-16
359036                                         srl n flair  ... -2.220446e-16
262782                                       wiegand sa cv  ... -2.220446e-16
311194                                  agility logisticsp  ...  0.000000e+00
103042                               isuzu motors  private  ... -2.220446e-16
443163                                 regupol america llc  ... -2.220446e-16
323187                                          dimaro srl  ...  0.000000e+00
202613                                                 nri  ...  0.000000e+00
33110                        bestocean worldwide logistics  ...  9.701592e-02
156103                                      poly chemicals  ...  0.000000e+00
333340                                   swat tyre  rubber  ...  1.052220e-01
28853                                                  ram  ...  0.000000e+00
145696                                world asia logistics  ...  1.380179e-01
481397                                                 pcs  ...  0.000000e+00
450115                    geodis wilson nouvelle caledonie  ...  5.778664e-01
446334                                       wynn expressp  ... -2.220446e-16
248192                                    sr international  ... -2.220446e-16
341002                                   streamline sports  ...  0.000000e+00
245144                              crayons sporting goods  ...  0.000000e+00
278213                                        mayaporation  ...  0.000000e+00
364911                                      superbeton spa  ... -2.220446e-16

[30 rows x 4 columns]

In [ ]:
train.head()

                          name_1  ...  tfidf_cosine
pair_id                           ...
1                 iko industries  ...  1.110223e-16
2             apcotex industries  ...  1.311625e-01
3         rishichem distributors  ...  0.000000e+00
4        powermax rubber factory  ...  0.000000e+00
5                       tress as  ... -2.220446e-16

[5 rows x 4 columns]

In [ ]:
test.head()

                                         name_1                               name_2
pair_id
1                         sun blinds decoration             indl de cuautitlan sa cv
2                                           eih     dongguan wei shi plastic product
3                                         jshhk  arab shipbuilding and repair yard c
4                             better industrial            farmacap industria eercio
5        equipos inoxidables del norte sa de cv                                  bel

In [ ]:
clf = TfidfVectorizer()

clf.fit(test['name_1'] + " " + test['name_2'])

A = clf.transform(test['name_1'])
B = clf.transform(test['name_2'])

cosine = 1 - pcd(A, B)

test['tfidf_cosine'] = cosine

In [ ]:
test[40:60]

                                                 name_1  ...  tfidf_cosine
pair_id                                                  ...
41                                  continental airtrol  ...  2.989800e-01
42                         guangxing hardware  plastics  ... -2.220446e-16
43                                                  gap  ...  0.000000e+00
44                                               biscom  ...  0.000000e+00
45                                   olympia industries  ...  0.000000e+00
46                                       maniarporation  ...  0.000000e+00
47                                    camelot logistics  ...  0.000000e+00
48                                       orion plastics  ...  0.000000e+00
49                            banglore heavy equipments  ...  1.110223e-16
50                                           taraki sas  ...  0.000000e+00
51                                   servimex logistics  ...  1.159039e-01
52                         tianjin jinhang impexp trade  ... -2.220446e-16
53                            ventura interiors private  ...  7.859418e-02
54                                              i and i  ... -2.220446e-16
55                                  unico logistics usa  ...  1.335765e-01
56                          parker hannifin fluidnector  ...  0.000000e+00
57               dongguan packaging imp expof guangdong  ...  0.000000e+00
58                                                  adi  ...  0.000000e+00
59                                        abud imp  exp  ...  2.712726e-01
60       foshan nanhai giant exhibition rubber  plastic  ...  0.000000e+00

[20 rows x 3 columns]

# Базовая модель

In [ ]:
FTS=["tfidf_cosine"]
THR = 0.9

In [ ]:
split = StratifiedShuffleSplit(1, train_size=0.8, random_state=RS)
tridx, cvidx = list(split.split(train[FTS], train["is_duplicate"]))[0]

###Классификаторы

Random Forest

In [ ]:
from sklearn import ensemble
rf = ensemble.RandomForestClassifier(n_estimators = 1000)
rf.fit(train.iloc[tridx][FTS].values,
          train.iloc[tridx]["is_duplicate"].values)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
tr_preds_rf = rf.predict(train.iloc[tridx][FTS].values)
cv_preds_rf = rf.predict(train.iloc[cvidx][FTS].values)

In [ ]:
print(f1_score(train.iloc[tridx]["is_duplicate"].values, tr_preds_rf))
print(f1_score(train.iloc[cvidx]["is_duplicate"].values, cv_preds_rf))

0.900147383935151
0.6764091858037578

Extremely Randomized Trees

In [ ]:
ert = ensemble.ExtraTreesClassifier(n_estimators = 1000)
ert.fit(train.iloc[tridx][FTS].values,
          train.iloc[tridx]["is_duplicate"].values)

ExtraTreesClassifier(bootstrap=False, ccp_alpha=0.0, class_weight=None,
                     criterion='gini', max_depth=None, max_features='auto',
                     max_leaf_nodes=None, max_samples=None,
                     min_impurity_decrease=0.0, min_impurity_split=None,
                     min_samples_leaf=1, min_samples_split=2,
                     min_weight_fraction_leaf=0.0, n_estimators=1000,
                     n_jobs=None, oob_score=False, random_state=None, verbose=0,
                     warm_start=False)

In [ ]:
tr_preds = ert.predict(train.iloc[tridx][FTS].values)
cv_preds = ert.predict(train.iloc[cvidx][FTS].values)

In [ ]:
print(f1_score(train.iloc[tridx]["is_duplicate"].values, tr_preds))
print(f1_score(train.iloc[cvidx]["is_duplicate"].values, cv_preds))

0.900754925428098
0.6773519163763065

GradientBoostingClassifier

In [ ]:

gbt = ensemble.GradientBoostingClassifier(n_estimators = 1000)
#gbt.fit(gbt = ensemble.GradientBoostingClassifier(n_estimators = 1000)
gbt.fit(train.iloc[tridx][FTS].values,
          train.iloc[tridx]["is_duplicate"].values)

GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=1000,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=None, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [ ]:
y_train_pred = gbt.predict(train.iloc[tridx][FTS].values)
y_test_pred = gbt.predict(train.iloc[cvidx][FTS].values)

In [ ]:
print(f1_score(train.iloc[tridx]["is_duplicate"].values, y_train_pred))
print(f1_score(train.iloc[cvidx]["is_duplicate"].values, y_test_pred))

0.5934372818245287
0.4735376044568246

# Генерация сабмита

In [ ]:
sample_sub = pd.read_csv("sample_submission (2).csv", index_col="pair_id")

In [ ]:
sample_sub

         is_duplicate
pair_id
1                   1
2                   1
3                   1
4                   1
5                   1
...               ...
213245              1
213246              1
213247              1
213248              1
213249              1

[213249 rows x 1 columns]

In [ ]:
sample_sub["is_duplicate"] = ert.predict(test[FTS].values)

In [ ]:
sample_sub.is_duplicate.value_counts()

0    212387
1       862
Name: is_duplicate, dtype: int64

In [ ]:
sample_sub.to_csv("submission_cos_ert.csv")

In [ ]:
sample_sub["is_duplicate"] = rf.predict(test[FTS].values)

In [ ]:
sample_sub.is_duplicate.value_counts()

0    212390
1       859
Name: is_duplicate, dtype: int64

In [ ]:
sample_sub.to_csv("submission_cos_rf.csv")